# Core.
environs~=7.3.1
Flask~=1.1.2
gunicorn~=20.0.4

# Database access.
Flask-Migrate~=2.5.3
Flask-SQLAlchemy~=2.4.1
psycopg2-binary~=2.8.5

# API frameworks.
Flask-RESTful~=0.3.8
flask-smorest~=0.21.0

# Admin pages.
Flask-Admin~=1.5.5

# Libraries.
marshmallow-sqlalchemy~=0.22.3

# Background tasks.
Flask-Melodramatiq~=0.3.8
redis~=3.4.1
