# Core.
environs~=8.0.0
Flask~=1.1.2
gunicorn~=20.0.4

# Database access.
Flask-Migrate~=2.5.3
Flask-SQLAlchemy~=2.4.4
psycopg2-binary~=2.8.5

# API frameworks.
Flask-RESTful~=0.3.8
flask-smorest~=0.24.1

# Admin pages.
Flask-Admin~=1.5.6

# Libraries.
marshmallow-sqlalchemy~=0.23.1

# Background tasks.
Flask-Melodramatiq~=0.3.8
redis~=3.5.3
