# Core.
environs~=9.5.0
Flask~=2.3.2
gunicorn~=21.2.0
werkzeug~=2.0.3

# Database access.
Flask-Migrate~=4.0.1
Flask-SQLAlchemy~=3.1.1
psycopg2-binary~=2.9.4
sqlalchemy~=2.0.0  # Workaround for pytest-flask-sqlalchemy problems.

# API frameworks.
Flask-RESTful~=0.3.9
flask-smorest~=0.40.0

# Admin pages.
Flask-Admin~=1.6.0

# Libraries.
marshmallow-sqlalchemy~=0.28.0

# Background tasks.
Flask-Melodramatiq~=1.0
redis~=4.6.0
